/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import "primereact/resources/themes/mdc-light-indigo/theme.css";
@import "../node_modules/primeflex/primeflex.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-wallpaper-local {
  background-image: url("./assets/digitalindia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}
