/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import "primereact/resources/themes/mdc-light-indigo/theme.css";
@import "../node_modules/primeflex/primeflex.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.digital-india-text {
  background: linear-gradient(
    90deg,
    #ff671f 30%,
    /* Saffron */ #046a38 60%,
    /* Green */ #06038d 100% /* Navy Blue */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-wallpaper-local {
  background-image: url("./assets/digitalindia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.drop-shadow-text {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
